@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    position: relative;
    overflow: visible;
    color: #fff;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}
.dice{
    display: block;
    position: relative;
    padding: 10px 180px;
    /* height: 100vh; */
}
.row{
    display: flex;
    column-gap: 80px;
    height: 100%;
}
.col-6{
    width: 50%;
}
.img-dice{
    border-radius: 24px;
    box-shadow: 0px 15px 15px 2px #33333359;
    max-width: 50%;
    width: -webkit-fill-available;
    align-content: center;
    /* height: 100%; */
}
button{
    margin-top: 40px;
    height: 54px;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding: 10px 20px;
    border: 0;
    font-size: 22px;
    /* overflow-wrap: break-word; */
    overflow-y: visible;
    text-transform: uppercase;
    cursor: pointer;
}
button:hover{
    color: #5c42ad
}
.footer{
    /* position: sticky; */
    /* position: fixed; */
    /* display: flex; */
    bottom: 0;
    text-align: center;
    /* margin-bottom: auto; */
    margin-bottom: 0;
}